* {
	box-sizing: border-box;
  margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ededed;
		width: 100%;
		overflow-x: hidden;
}

h1, h2 {
    font-style: bold;
    text-decoration: underline;
    color: #25232B;
}

h1 {
    font-size: 1.85rem;
}

h2 {
    font-size: 1.70rem;
}

p, li {
	font-size: 1.55rem;
	color: #25232B;
}

a {
	text-decoration: none;
	color: #25232B;
	font-size: 1.2rem;
  }


/* FOOTER */
footer{
	height: 225px;
	background: #d2e5d0;
	display: flex;
	justify-content: space-around;
  }

  .horaires {
	  padding: 2%;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-around;
	  
  }

  .address {
	  padding: 2%;
	  display: flex;
	  justify-content: space-between;
	  flex-direction: column;
  }
  
  @media (max-width: 57rem){
	footer{
	  height: auto;
	  align-items: center;
	  flex-direction: column;
	}
  }